@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
/* font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: 'Anton', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */


div,p,li,a{
    font-family: 'Comfortaa', 'Noto Sans KR';
    color:#3d6d93; font-size:14px;
}

/* 공통 class*/
.cbx{
    width:961px; position:relative; margin:0 auto; 
}

.title{
    font-size:48px;  margin-bottom:43px;
    font-family: 'Anton'; letter-spacing: 1px;
}
.text{
    text-align:justify; line-height:24px;
}


.section{
    width:100%; height:100%;  position:relative; left:0; top:0;
    background:#fef9c2;
    overflow:hidden; 
}
.main_title{
    width:100%; text-align:center; 
    margin:150px auto 85px;
}

.text_title {
   margin-bottom: 10px;
   color:#3d6d93; font-weight: bold;
}


/* header */

#header{
    width:1200px;height:80px;
    position:fixed; top:0; 
    left:50%; transform:translateX(-50%);
    z-index:999; 
}

#logo{
    font-weight:bold; line-height:80px; 
}


#mainmenu{
    position:absolute; right:0; top:50%;
    display:flex; transform:translateY(-50%);
}

#mainmenu li{
    margin-left:15px; width:138px;
    text-align:center;
    border:solid 1px #3d6d93; border-radius: 50%;
    transition:all 0.2s ease-in-out;
}


#mainmenu li:hover,#mainmenu li.on{
    
    background:#3d6d93; 
}
#mainmenu li:hover>a,#mainmenu li.on>a{
    
    color:#fef9c2;
}

#mainmenu li a{
    font-weight:bold; line-height:40px; 
}



#logo,#mainmenu li:hover,#arrow img:hover{
    cursor: pointer;
}

