@charset "utf-8";


@import url(reset.css);
@import url(common.css);



#sec0_contents{
    margin:0 auto; position:relative; 
    left:0; top:50%; transform:translateY(-50%);
    width:961px;
}

#sec0_contents img{
    display:block; width:100%;
}

.section0_text{
    position:absolute; left:17%; top:8%;
}

.greet{
    font-size:72px; text-decoration: underline;
   font-family: 'Anton', sans-serif; 
    letter-spacing: 2px; 
}


#character{
    width:160px;
    position:absolute; left:59%; top:33%;
}

#character img{
    width:100%; display:block;
}
span#arrow{
    position:absolute; bottom:40px; left:50%; transform:translateX(-50%);
    display:block;
}


/* section1 시작 */

.section1_cbx {
    display: flex; 
    margin-top: 200px;
    flex-wrap: nowrap; 
}

.me {
    margin-right: 20%;
    margin-top: 50px; 
}


.cv_btn {
    text-align: center;
    line-height: 40px;
    display: block;
    border: solid 1px #3d6d93;
    border-radius: 50%;
    width: 138px;
    margin-top: 50px;
}

.cv_btn:hover {
    border: solid 3px #3d6d93;
    font-weight: bold;
}

/* section1 끝 */

/* section2 시작 */

#skills_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#skills_list li.brk {
    flex-basis: 100%;
    height: 0;
    margin: 0;
    padding:0;
    border: none;
}

#skills_list li {
    width: 278px;
    height: 240px;
    margin-bottom: 47px;
    border: solid 1px #3d6d93;
    border-radius: 25px;
    padding: 22px;
    box-sizing: border-box;
}

#skills_list li img {
    display: block;
    width: 90px;
    margin: 17px auto 22px;
}


p.skill_t {
    line-height: 21px;
    font-size: 12px;
}

/* section2 끝 */



/* section3 시작 */

.sec3_contents {
    width: 1200px;
    margin: 0 auto;
}

.border {
    width: 100%;
    height: 1px;
    background-color: #3d6d93;
    margin-bottom: 78px;
}

.swiper {
    width: 100%;

}

.swiper-slide {

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

:root {
    --swiper-theme-color: #3d6d93 !important;
}


.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 75px !important;
}

.port_contents {
    width: 100%;
    display: flex;
}

.port_img {
    width: 590px;
    margin-right: 204px;
    position: relative;
    left: 0;    top: 0;
}

#port_img_bg {
    width: 100%;
    text-align: center; 
    position: relative; left:0; top:0;
}
#port_img{
    display:block; width:100%;
}


.port_img video {
    position:absolute;
    width: 328px;left:50%; transform:translateX(-50%);
    top:65px;
} 

#desktop {
    margin-top: 55px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
}


.port_text {
    flex: 1;
    padding-top: 20px;
}

.port_num {
    border: solid 1px #3d6d93;
    border-radius: 50%;
    width: 80px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.port_title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 18px;
}

.port_subTitle {
    font-weight: bold;
    margin-bottom: 53px;
}

#port_text {
    margin-bottom: 70px;
}

.port_button {
    display: flex;
}

.port_button li {
    border: solid 1px #3d6d93;
    border-radius: 50%;
    font-weight: bold;
    width: 126px;
    line-height: 40px;
    text-align: center;
}

.port_button li:hover{
    border: solid 3px #3d6d93;
    cursor: pointer;
}

.port_button li:first-child {
    margin-right: 20px;
}

/* section3 끝 */


/* section4 시작 */

.con_title {
    margin-top: 150px;
}

.contact_box {
    border: solid 1px #3d6d93;
    border-radius: 20px;
    padding: 40px;
    display: flex;
}

.contact_box li {
    margin-bottom: 39px;
}

.contact_box li:last-child {
    margin-bottom: 0;
}

.contact_contents {
    margin-right: 120px;
}

.contact_text {
    font-size: 36px;
    font-weight: bold;
}

.contents_img {
    text-align: center;
    flex: 1;
}

.contents_img img {
    margin-top: 36px;
}

/* section4 끝 */

/* footer */

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 256px;
    background-color: #3d6d93;
    text-align: center;

}

footer h2 {
    text-decoration: none;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    font-size: 72px;
    margin-top: 70px;
    font-weight: normal;
}

footer p,
h2 {
    color: #fef9c2;
}

footer p {
    margin-top: 30px;
}