@charset "utf-8";



@media only screen and (max-width:1200px) {

    #header{
        width:100%; 
    }
    #logo{
        padding-left:20px;
    }
    #mainmenu{
        right:20px;
    }
}

@media only screen and (max-width:960px) {

    #mainmenu{
        display:none;
    }
    #logo{
        padding-left:30px;
        
    }
    #sec0_contents{
        width:100%;
    }
    .cbx{
        width:100%; 
    }
    .me{
        padding-left:30px;   margin-right: 10%;
    }
    .me_text{
        padding-right:30px;
    }
  
}


@media only screen and (max-width:800px) {

    @media screen and (orientation:portrait){
        #character{
            left:30px; top:18%;
            width:120px;
        } 

        .section0_text{
            left:30px; 
        }
        .greet{
            font-size:68px;
        }
        .me img{
            width:300px;
        }
    }   

}



@media only screen and (max-width:700px) {

    @media screen and (orientation:portrait){
        .section1_cbx {
            flex-wrap: wrap;margin-top:40px;
        }
            
        .me_text{
            padding-left:30px; padding-top:30px;
        }
        
        .me img{
            width:200px;
        }
    }

}



 @media only screen and (max-width:480px) {

        @media screen and (orientation:portrait){
        #character{
            width:90px;
        } 
        .greet{
            font-size:48px;
        }
        .me {
            display:none;
        }
        .section1_cbx {
           margin-top:60px;
        }
    }
} 


@media only screen and (max-width:668px) {

    @media screen and (orientation:landscape){

        
        #character{
            left:70%;
            width:90px;
        } 

        .greet{
            font-size:48px;
        }

    }

} 


