@charset "utf-8";

/* 초기화 셋팅 */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h3,
p {
    padding: 0;
    margin: 0;
}

/* 로고 및 뒷 기본 배경 */
body {
    background:
        url(../images/logo.png) no-repeat center 75%/269px,
        /* 2. 로고 */
        url(../images/bg.jpg) no-repeat fixed center bottom/cover;
    /* 1. 토이스토리 기본 뒷 배경 */
}

/* 5:5 배경 */
.toystory_wrap{
    width: 50%; height: 100%; 

}
.left{
    outline:3px solid blue; float:left;
    position:relative;
}
.right{
    outline:3px solid rgb(53, 150, 53);
    float:right; position:relative;
}


/* 3. woody */
div.woody {
    width: 520px; 
    position:absolute;
    right:0px; bottom:150px; 
}

.woody>img {
    width: 220px;
    filter: grayscale(100%);
    transform: rotateY(180deg);
}
.woody_txt{
    margin-top: -50px;
}
.txt_box {
    width: 290px;
    height: 0;
    overflow: hidden;
    float: right;
    transition: height .2s ease-in-out;
}
.ibx {
    padding: 10px;
    border: 3px solid #004e98;
    box-sizing: border-box;
    background: #fff;
    border-radius: 20px;
}

h3.txt_title {
    margin-bottom: 14px;
    color: #004e98;
    text-align:left;

}

.txt_contents {
    font: normal 14px/20px "맑은 고딕";
    color: #000000;text-align: justify;

}

.hv:hover .txt_box {
    height: 200px;
}

.woody:hover>img {
    filter: grayscale(0%);
    transform: rotateY(0deg);
}

/* 4.jessie */

.jessie{
    width: 520px; 
    position:absolute;
    left:50px; top:50px; 
}
.jessie>img:nth-child(1) {
    width: 140px;
    filter: grayscale(100%);
    
}

.jessie>img:nth-child(2) {
    width: 190px;  
    filter: grayscale(100%);
    transform: rotate(20deg);
    margin-left:-115px;
    
}
.jessie:hover>img {
    filter: grayscale(0%);
    transform: rotate(0deg);
 
}

/* 5.ham */

.ham{
    width: 500px; 
    position:absolute;
    bottom:50px; left:100px;
}
.ham_txt{
    width: 310px; 
}

.ham>img {
    width: 180px;  
    filter: grayscale(100%);
    transform: rotateY(180deg)
}

.ham:hover>img {
    filter: grayscale(0%);
}
.ham:hover .txt_box {
    height: 190px;
}

/* 6.buzz */

.buzz{
    width: 650px; 
    position:absolute;
    top:40px; left:50px;
}

.buzz>img{
    width: 313px;  
    filter: grayscale(100%);
    transform:translateX(120px)
}

.buzz:hover>img{
    filter: grayscale(0%);
    transform:translateX(0px)
}


/* 7.rex */

.rex{
    width: 543px; 
    position:absolute;
    bottom:200px; left:200px;
}
.rex_txt{
    margin-top:-100px;
}

.rex>img{
    width: 196px;  
    filter: grayscale(100%);
}

.rex:hover>img{
    filter: grayscale(0%);
    filter:drop-shadow(9px 9px 4px rgba(7, 7, 7, 0.781));
    transform:scale(2)
}

/* 8.potato */

.potato{
    width: 600px; 
    position:absolute;
    bottom:50px; right:30px;
    
}
.potato_txt{
    margin:0px auto; margin-top:-180px;
}

.potato>img:nth-child(1){
    float:left;
}

.potato>img:nth-child(2){
    float:right;
}
.potato>img{
    width: 150px;  
    filter: grayscale(100%); 
}

.potato:hover>img:nth-child(1){
    filter: grayscale(0%);
    filter:drop-shadow(9px 9px 4px rgba(7, 7, 7, 0.781));
    transform:translateX(150px);
}
.potato:hover>img:nth-child(2){
    filter: grayscale(0%);
    filter:drop-shadow(9px 9px 4px rgba(7, 7, 7, 0.781));
    transform:translateX(-150px);
}

/* 9.aliens*/

.aliens{
    width: 550px; 
    position:absolute; 
    left:calc(50% - 275px); bottom:5%;
    text-align:center; 
    
}

.aliens>img{
    width: 379px;  
    filter: grayscale(100%);
    transform: rotateY(180deg);
}

.aliens:hover>img{
    filter: grayscale(0%);
    transform: rotateY(0deg);
}
.aliens:hover .aliens_txt{
    height:219px;
}

.aliens_txt{
    float:left; 
}