@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
/* 초기화 셋팅 */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h3,
p {
    padding: 0;
    margin: 0;
}

/* 로고 및 뒷 기본 배경 */
body {
    background:
        url(../images/logo.png) no-repeat center/269px,
        /* 2. 로고 */
        url(../images/bg.jpg) no-repeat fixed center/cover;
        /* 1. 토이스토리 기본 뒷 배경 */
}

/* 5:5 배경 */
div.toystory_wrap{
    width: 50%; height: 100%; 

}
div.left{
    float:left;
    position:relative;
}
div.right{
    float:right; position:relative;
}


/* 공통 class 속성 */

div.txt_box {
    width: 290px;
    height: 0;
    overflow: hidden;
    float: right;
    transition: height .6s ease-in;
    
}
div.ibx {
    padding: 10px;
    border:3px solid #004e98;
    box-sizing: border-box;
    background: #ffd900;
    border-radius: 20px;

}
div.hv>img{
    filter: grayscale(100%);
    transition: transform .6s ease-in;
}

h3.txt_title {
    margin-bottom: 14px;
    color: #004e98;
    text-align:left;
    font-weight:bold;
    font-family: 'Nanum Gothic Coding', monospace;
}

p.txt_contents {
    font: normal 14px/20px 'Nanum Gothic Coding';
    color: black; text-align: justify;
    text-indent: 7px;word-break: break-all;
}

/* 공통 hover 속성 */
div.hv:hover>img{
    filter:grayscale(0%);
    filter:drop-shadow(9px 9px 4px rgba(7, 7, 7, 0.781));
}
div.hv:hover .txt_box {
    height: 200px;  
}



/* 3. woody */
div.woody {
    width: 550px; 
    position:absolute;
    right:-10%; bottom:110px; 
}

div.woody_txt{
    margin-top: -50px;
}

div.woody>img {
    width: 250px;
    transform: rotateY(180deg);
}

div.woody:hover>img {
    transform: rotateY(0deg);
}
div.woody:hover div.cursor>img{
    display:none;
}


div.cursor{
    position: absolute; top:30px; 
    left:190px;  

}
div.cursor>img{
    width:43px; 
}

/* 4.jessie */

div.jessie{
    width: 540px; 
    position:absolute;
    left:10%; top:5%; 
}
div.jessie>img:nth-child(1) {
    width: 140px;
}

div.jessie>img:nth-child(2) {
    width: 190px;  
    transform: rotate(-10deg);
    margin-left:-105px;
}
div.jessie:hover>img {
    transform: rotate(0deg);
}


/* 5.ham */

div.ham{
    width: 533px;
    position:absolute; 
    bottom:50px; left:12%;
}

div.ham>img {
    width: 200px;  
}

div.ham:hover>img {
    transform: translateY(-120px);
}
div.ham_txt{
margin-top: -20px;
}
/* 6.buzz */

div.buzz{
    width: 650px; 
    position:absolute;
    top:40px; left:10%;
}

div.buzz>img{
    width: 313px;  
    transform:translateX(120px)
}

div.buzz:hover>img{
    transform:translateX(0px)
}


/* 7.rex */

div.rex{
    width: 518px;
    position: absolute;
    bottom: 200px;
    left: 25%;
}
div.rex_txt{
    margin-top:-140px;
}

div.rex>img{
    width: 196px;  
}

div.rex:hover>img{
    transform:scale(2)
}


/* 8.potato */

div.potato{
    width: 500px; 
    position:absolute;
    bottom:50px; right:10%;
}
div.potato_txt{
    margin: 0px auto;
    margin-top: -190px;
    float: none;
}
div.potato>img{
    width: 150px;  
}
div.potato>img:nth-child(1){
    float:left;
}

div.potato>img:nth-child(2){
    float:right;
}

div.potato:hover>img:nth-child(1){
    transform:translateX(100px);
}

div.potato:hover>img:nth-child(2){
    transform:translateX(-100px);
}
div.potato:hover .txt_box {
    height: 190px;
}

/* 9.aliens*/

div.aliens{
    width: 550px; 
    position:absolute; 
    left:calc(50% - 275px); bottom:5%;
    text-align:center; 
}

div.aliens>img{
    width: 380px;  
    transform: rotateY(180deg);
}

div.aliens:hover>img{
    transform: rotateY(0deg);
}
div.aliens:hover .aliens_txt{
    height:219px;
}

div.aliens_txt{
    float:left; 
}