@charset "utf-8";

/* 초기화 셋팅 */
html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* 1. 토이스토리 기본 뒷 배경 */
body{
    background: url(../images/bg.jpg) no-repeat fixed center/cover;
}

/* 2. 로고 */

div#logo img{
    width:269px; 
}


