@charset "utf-8";


/* 공사중 외곽선 */
.ir{
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}


.KR{
  font-family: 'Noto Sans KR', sans-serif;
}
.EN{
  font-family: 'Noto Sans', sans-serif;
}
.LH{
  line-height:21px;
}
p,a{
  color:#272727;
}
/* 상단영역 시작*/
#top{
  background-color:#575757; 
}

.top{
  min-height:121px; max-width:1900px; width:100%; 
  display:flex; align-items: center;
  position: relative; margin:0 auto; 
}

.top_logo{
  padding-left:40px; display:flex; align-items: center;
} 
.top_logo img{
  width:62px;  display:block;
}
.gnb{
  width:800px; 
  margin:0 auto;
  line-height:20px; position: relative; 
}
.gnb ul{
  text-align:center; 
}
.gnb li{
  display: inline-block; vertical-align: middle; padding: 0 30px;
}
.gnb li a{
  color:#fff; 
  font-family: 'Noto Sans', sans-serif;
  display: block; color:#fff;
}

.etc{
  display:flex; justify-content: space-between;
  width:300px; height: 120px; padding-right:40px;
}

/* sns_box */
.sns_box{
  line-height:120px;
  
}
.sns_box a{
  margin:0 9px; 
}
.sns_box a img{
  width:21px;
}

/* 가맹문의 */
.quest{
  width:129px; height:85px; 
  border-radius: 0 0 15% 15%; margin-top:-3px;
  background-color: #ab6a32; text-align: center; 
  font-family: 'Noto Sans KR', sans-serif;
 
 
}
.quest p{
   margin-top:20px; color:#fff;
   font-size:18px; letter-spacing: 2px;
   
}
.quest span{
  color:#fff; font-size:14px;
}

.mobilemenu{
   display:none; position:absolute; right:40px; 
}

/* 상단영역 끝*/


/* 하단영역 시작*/
#footer{
  background-color:#575757; clear:both;
}
.info{
  box-sizing: border-box;
  width:1200px;  margin:0 auto;  
  display:flex; 
  padding:40px 0;
}
.flogo{
  margin-right:156px; 
}
.flogo img{
  width: 90px; display:block;
}
.addr{
  font-style:normal; font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;  color:#fff; 
  font-weight:100;
}
ul.blink{
  width:1000px; margin-bottom:18px;
}
.blink li{
  display: inline-block;  
}
.blink li a{
  color:#ffffff;
}
.blink>li:first-child::before {  
  content: none;
}

.blink>li::before {  
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 14px;
  background-color: #fff;
  margin: 0 20px;
}
.addr_info{
  margin-bottom:18px;  color:#fff; 
}

.addr .EN{
  color:#fff; 
}
.info2{
   margin-bottom:18px;
}
.info2 li{
  display: inline-block; font-size: 14px;
}
.info2>li:first-child::before {  
  content: none;
}
.info2>li::before {  
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px; height: 14px;
  background-color: #fff;
  margin: 0 10px;
}


/* 하단영역 끝*/
