@charset "utf-8";


/* 공사중 외곽선 */
body {
  outline: 1px dotted rgb(173, 173, 173);
} 


/* 상단영역 시작*/
#top{
  background-color:#575757;
}

.top{
  min-height:121px; display:flex; position: relative;
}
.top_logo{
  padding-top:15px; margin-right:74px;
}
.top_logo img{
  width:67px;  
}

.gnb{
  min-height:20px; margin-top:52px;
  font-size:16px; line-height:20px; margin-right:56px;
}
.gnb ul{
  display:flex; flex-wrap: wrap; justify-content: center;  margin:0px auto; 
  max-width:745px;
}
.gnb li{
  margin:0 25px; 
}
.gnb li a{
  color:#ffffff;
}

/* sns */
.sns{
  display:flex; min-height:20px; margin-top:52px; 
}
.sns a{
  margin:0 9px;
}
.sns a img{
  width:21px;
}

/* 가맹문의 */
.quest{
  width:129px; height:85px; 
  border-radius: 0 0 15% 15%;
  background-color: #c30e2e; position:absolute;
  right:0px; text-align: center; 
}
.quest p{
   margin-top:20px; color:#ffffff;
}
.quest span{
  color:#ffffff;
}