@charset "utf-8";


@import url(reset.css);
@import url(core.css);
@import url(common.css);



/* 비쥬얼영역 시작*/

#visual{
min-height:623px; 
background-color:#575757; 
box-sizing:border-box;
position:relative; 
}
.visual{
    width:1013px; margin:0px auto;
}
ul#visual_list{
    width:100%; display:flex;
}
ul#visual_list li{
    flex:1; margin-right:137px;
}
.visual_arrow{
    width:1200px; height:53px;
    top:197px; position:absolute; 
    left:50%; transform: translateX(-50%);
}
.visual_arrow span{
    width:31px; height:53px;display:inline-block;
}

span.left_arrow{
    background-image: url(../images/left_arrow.png);
}
span.right_arrow{
    background-image: url(../images/right_arrow.png);
    position:absolute; right:0px;
}

ul.bullet{
    width:50px; 
    margin:61px auto 0; display:flex;
}
ul.bullet li{
    border-radius: 100%; flex:1;
    width:8px; height:8px; background:#f1f2f2;
    margin:0 4px;
}


/* 비쥬얼영역 끝*/
 

/* best 영역 시작 */
#best{
    box-sizing:border-box;
    position:relative;  width:100%;  background-color: #ffffff;
}
.best{
    width:100%; height:100%;
}

.best_title{
    text-align:center; margin:120px auto 72px;
}
.title{
    font-size:48px; margin-bottom:11px;
}
.sub_title{
    font-size:16px;
}
ul.best_contents{
    width:900px;
    display:flex; margin:0 auto;
}
.best_contents li{
   flex:1;
   text-align:center;  
}
.best_sort{
    margin-bottom:71px; width:915px;  
}
p.sort{
    font-size:11px;
    width: 59px;
    line-height: 22px;
    margin:0px auto;
    background-color: #575757;
    border-radius: 40%; color:white; 
}
.sort_title{
    margin-top:19px; font-size:32px;
    font-weight:500;
}

.best_info{
    margin:83px auto 44px; 
    display:flex; 
    box-sizing: border-box;
    justify-content: center;
}
.best_topp{
    display:flex; padding-right:31px;
    border-right:1px solid rgba(87, 87, 87, 0.333);
}
.best_topp img{
    display:inline-block; margin-right:22px;
}
.best_topp p{
    font-size:16px;
}
.best_topp_title{
    display:block; margin-bottom:9px;
}

.best_size1{
    border-right:1px solid rgba(87, 87, 87, 0.333);
    padding:0 31px;
}
.best_size2{
    padding-left:31px;
}

.best_arrow{
    width:915px; height:53px;
    position:absolute; top:400px; 
    left:50%; transform: translateX(-50%);
}

.best_left_arrow{
    width:31px; height:100%;
    background-image: url(../images/best_left_arrow.png);
    display:block; float:left;
}
.best_right_arrow{
    width:31px; height:100%;
    background-image: url(../images/best_right_arrow.png);
    display:block; float:right;
}

.detail_btn{
    width:200px; height:51px; border:2px solid rgb(109, 109, 109);
    display:block; text-align: center; line-height:51px;
    margin:0 auto;
}
ul.best_b{
     margin-bottom:121px;
}
ul.best_b li{
    background:#575757;
}

/* best 영역 끝 */

/* 토핑 영역 시작 */
#topp{
    box-sizing:border-box; float:left;
    width:100%; min-height:792px; background:#f4f4f4;
}
.topp{
    width:1200px; height:100%; margin:0 auto;  
}
.topp_title{
    margin:120px auto 52px; 
    text-align:center; width:100%;
}
ul.topp_list{
    width:100%; display:flex; height:317px; margin-bottom:45px;
}
.topp_list li{
   flex:1; margin:0 8px; height:100%; background:#ffffff;
   text-align:center;
}
p.topp_sort{
   margin-top:31px;
}

div.topp_name_tx{
    margin-top:31px;  margin-bottom:26px;
}
.topp_name{
    font-weight:bold; font-size:18px;line-height:24px;
}
.topp_list img{
    margin-bottom:25px;
}
.topp_text{
     text-align:center; line-height:24px;
}
/* 토핑 영역 끝 */

/* sns 영역 시작 */
#sns{
    float:left; width:100%; min-height:1038px;
     background-color: #ffffff;
}
.sns{
    width:1200px; height:100%; margin:0 auto;
}
.sns_title{
   text-align:center;
    margin:120px auto 27px; 
}
.detail{
    margin:0 auto 55px; display:block;  text-align:center;
}
#sns_vd_list{
    width:100%; 
}
#sns_vd_list video{
    width:607px; float:left; margin-right:162px; 
}
.sns_vd_list{
    width:429px; float:left;
}
.sns_vd_list li{
    float:left;
}
.sns_vd_list li:first-child{
    margin-right:41px; margin-bottom:84px; 
}
.sns_vd_list li:nth-child(2){
    margin-bottom:84px; 
}
.sns_vd_list li:nth-child(3){
    margin-right:41px;
}
.sns_news{
    font-weight:bold; line-height:24px;
}
/* sns 영역 끝 */


/* event 영역 시작 */
#event{
    float:left; width:100%; min-height:759px;
    background-color: #f4f4f4;
}
.event{
    width:1200px; margin:0 auto;
    position: relative;
}
.event_title{
    margin:120px auto 51px; text-align:center;
}
div.event_arrow{
    width:1200px; height:53px;
    background:blue; position:absolute; left:0; top:264px;
}
span.event_left_arrow{
    background-image: url(../images/best_left_arrow.png);
    display:block;
}
span.event_right_arrow{
    background-image: url(../images/best_right_arrow.png);
    display:block;
}

div.event_contents{
    width:1011px;  margin:0 auto;
}
ul.event_b li{
    background-color: #575757;
}
