@charset "utf-8";



@media only screen and (max-width:1200px) {

    
    .visual_arrow{
        display:none;
    }
    .gnb,.quest,.sns_box{
        display:none;
    }
    .mobilemenu{
        display:block;
    }
    header.top{
        min-height: auto;
        height:70px;
    }
    .mobilemenu img{
        width:30px; display:block;
    }
    .top_logo img{
        width:40px;
    }
    .visual{
        display:none;
    }
    .swiper{
        display:block;
    }
    .top::before{
        display:none;
    }

}

@media only screen and (max-width:750px) {
   
    
    
}


