@charset "utf-8";
/* 파일럿 PJ 메인 페이지 미디어쿼리 - media.css */


@media only screen and (max-width:1200px) {

    .visual{
        width: 100%;
    }
    .gnb,.quest,.sns_box{
        display:none;
    }
    .mobilemenu{
        display:block;
    }
    header.top{
        min-height: auto;
        height:90px;
    }
    .mobilemenu img{
        width:30px; display:block;
    }
    .top_logo img{
        width:40px;
    }
    .visual_arrow{
        display:none;
    }
}

@media only screen and (max-width:1100px) {

    
    

}
@media only screen and (max-width:490px) {
    
}



