@charset "utf-8";



.ir{
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.KR{
  font-family: 'Noto Sans KR', sans-serif;
}
.EN{
  font-family: 'Noto Sans', sans-serif;
}

html{
  font-size:10px;
}

.LH{
  line-height:21px;
}

div,p,a{
  color:#272727;
}
/* 상단영역 시작*/
#top{
  background-color:#575757; 
}

.top{
  height:121px; 
  display:flex; align-items: center;
  position: relative; margin:0 auto;
  z-index:99999999;
}

.top::before{
  content: '';
  display: block;
  position:absolute;
  top:121px; width: 100%; 
  height: 0;  
  background-color: rgba(0, 0, 0, 0.9);
  transition: height .4s ease-out;
}

.top:hover::before{
  height:260px; border-bottom: 2px solid rgba(148, 146, 146, 0.562);
} 

.top_logo{
  padding-left:40px; display:flex; align-items: center;
} 
.top_logo img{
  width:62px;  display:block;
}
.gnb{
  margin:0 auto; position: relative; 
}

#mainmenu{
  text-align:center; width:800px; 

}
#mainmenu>li{
  display: inline-block; 
  text-align: center; position: relative; 
}

#mainmenu>li>a{
  line-height:121px; padding:0 30px;
  font-family: 'Noto Sans', sans-serif;
  font-size:1.6rem; 
  transition: all .3s ease-in-out; 
  font-weight: normal;
}

#mainmenu>li a{
   color:#fff; 
}

#mainmenu>li:hover>a{
  color:rgb(133, 21, 21); 
  font-weight:bold;
}

#mainmenu>li::after {
  display:block;
  content: '';
  border-bottom: solid 2px rgb(133, 21, 21);
  transform: scaleX(0);
  transition: transform .3s ease-in-out; 
}
#mainmenu>li:hover:after {
  transform: scaleX(1);
}



/* 서브메뉴 */
.submenu .EN{
  font-family: 'Noto Sans', sans-serif;
}

.submenu{
  position:absolute; left:50%; transform: translateX(-50%);
   height:0;
  overflow: hidden; 
  transition: height .4s ease-out; 
}

ul.submenu li a{
  text-align: center;
  font-size: 14px; line-height: 40px;
  white-space: nowrap; 
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: 0px; 
}

.top:hover .submenu{
  height:230px;  
} 


.etc{
  display:flex; justify-content: space-between;
  width:300px; height: 120px; padding-right:40px;
}


/* sns_box */
.sns_box{
  line-height:120px;
  
}
.sns_box a{
  margin:0 9px; 
}
.sns_box a img{
  width:21px;
}

/* 가맹문의 */
.quest{
  width:129px; height:85px; 
  border-radius: 0 0 15% 15%; margin-top:-3px;
  background-color: #751426; text-align: center; 
  font-family: 'Noto Sans KR', sans-serif;
 
 
}
.quest p{
   margin-top:20px; color:#fff;
   font-size:18px; letter-spacing: 2px;
   
}
.quest span{
  color:#fff; font-size:14px;
}

.mobilemenu{
   display:none; position:absolute; right:40px; 
}

/* 상단영역 끝*/


/* 하단영역 시작*/
#footer{
  background-color:#575757; clear:both;
}
.info{
  box-sizing: border-box;
  width:1200px;  margin:0 auto;  
  display:flex; 
  padding:40px 0;
}
.flogo{
  margin-right:156px; 
}
.flogo img{
  width: 90px; display:block;
}
.addr{
  width:1000px;
  font-style:normal; font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;  color:#fff; 
  font-weight:100; 
}
ul.blink{
   margin-bottom:18px;
}
.blink li{
  display: inline-block;  
}
.blink li a{
  color:#ffffff;
}
.blink>li:first-child::before {  
  content: none;
}

.blink>li::before {  
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 14px;
  background-color: #fff;
  margin: 0 20px;
}
.addr_info{
  margin-bottom:18px;  color:#fff; 
}

.addr .EN{
  color:#fff; 
}
.info2{
   margin-bottom:18px;
}
.info2 li{
  display: inline-block; font-size: 14px;
}
.info2>li:first-child::before {  
  content: none;
}
.info2>li::before {  
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px; height: 14px;
  background-color: #fff;
  margin: 0 10px;
}


/* 하단영역 끝*/
