@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; */
/* 배경이미지 설명(또는 숨길글자) 클래스 */


.ir {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.KR {
  font-family: 'Noto Sans KR', sans-serif;
}

.EN {
  font-family: 'Noto Sans', sans-serif;
}

html {
  font-size: 10px;
}

.LH {
  line-height: 21px;
}

/* 마진 */
.tm {
  margin-top: 100px;
}

.bm {
  margin-bottom: 110px;
}

* {
  box-sizing: border-box;
}

div,
p,
a {
  color: #272727;
}


div#total_wrap {
  /*모든 문서를 감싸는 #total_wrap 지정 */
  width: 100%;
  position: absolute;
  left: 0px; 
  top: 0px;
}


/* 상단영역 시작*/
#top {
  background-color: #575757;
  z-index: 99999999;
  position: relative;
  min-height: 121px;
}

.top {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
}


/* on 이벤트 */


#top.on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: auto;
  background-color: #816555;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.548);
}

#top.on .top {
  height: 70px;
}

#top.on .top_logo img {
  width: 35px;
}

#top.on .quest {
  display: none;
}

#top.on #mainmenu>li>a {
  font-size: 14px;
  line-height: 70px;
  padding: 0 38px;
}

#top.on .top::before {
  top: 70px;
}

#top.on .etc {
  display: none;
}

#top.on .top:hover::before {
  border-bottom: 2px solid #816555;
}

/* on 이벤트 끝 */
.top::before {
  content: '';
  display: block;
  position: absolute;
  top: 121px;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.9);
  transition: height .4s ease-out;
}

.top:hover::before {
  height: 260px;
  border-bottom: 2px solid rgba(179, 177, 177, 0.562);
}

.top_logo {
  padding-left: 40px;
  display: flex;
  align-items: center;
}

.top_logo img {
  width: 62px;
  display: block;
}

.gnb {
  margin: 0 auto;
  position: relative;
}

#mainmenu {
  text-align: center;
  width: 800px;

}

#mainmenu>li {
  display: inline-block;
  text-align: center;
  position: relative;
}

#mainmenu>li>a {
  line-height: 121px;
  padding: 0 30px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.6rem;
  transition: all .3s ease-in-out;
  font-weight: normal
}

#mainmenu>li a {
  color: #fff;
}

#mainmenu>li:hover>a {
  color: rgb(133, 21, 21);
  font-weight: bolder;
}

#mainmenu>li::after {
  display: block;
  content: '';
  border-bottom: solid 3px rgb(133, 21, 21);
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

#mainmenu>li:hover:after {
  transform: scaleX(1);
}


/* 서브메뉴 */
.submenu .EN {
  font-family: 'Noto Sans', sans-serif;
}

.submenu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  margin-top: 5px;
  overflow: hidden;
  transition: height .4s ease-out;
}

ul.submenu li a {
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  white-space: nowrap;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: 0px;
  opacity: 0.7;
  transition: opacity .2s ease-out;
}

ul.submenu li:hover a {
  opacity: 1;
}


.top:hover .submenu {
  height: 230px;
}


.etc {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 120px;
  padding-right: 40px;
}


/* sns_box */
.sns_box {
  line-height: 120px;
  width: 130px;
}
.sns_box a {
  margin: 0 9px;
}

.sns_box a img {
  width: 21px;
}

/* 가맹문의 */
.quest {
  width: 129px;
  height: 85px;
  border-radius: 0 0 15% 15%;
  margin-top: -3px;
  background-color: #751426;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;


}

.quest p {
  margin-top: 20px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;

}

.quest span {
  color: #fff;
  font-size: 14px;
}

.mobilemenu {
  position: absolute;
  right: 20px;
  display: none;
}

.mobilemenu img {
  width: 30px;
  display: block;
}

/* 모바일메뉴 */
.mp {
  padding: 0 20px;
}

/* mobile padding */


#mobilemenu {
  display: none;
  width: 700px;
  height: 100%;
  position: fixed;
  right: 0px;
  top: 0px;
}

#mobilemenu_wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
}

.mobile_top {
  width: 100%;
  background-color: #816555;
}

.mobile_header {
  width: 100%;
  height: 65px;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.753);
}

.mobile_logo {
  width: 35px;
}

.mobile_logo img {
  width: 100%;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#mobile_close_btn img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.mobile_customer {
  height: 45px;
  font-size: 12px; justify-content: space-between;
  display: flex;
}

.mobile_customer li {
  line-height: 45px; display: inline-block;
}

.mobile_customer li:first-child::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.753);
  margin: 0 20px;
}

.mobile_customer li a {
  color: rgb(255, 255, 255);
}
#mobile_h{
  line-height:45px;
}

.mobile_contents{
    width: 100%;
    background-color: #fff;
}
ul.mobile_mainmenu{
    overflow:scroll; 
}

ul.mobile_mainmenu>li{
    line-height:63px; font-size:16px;  height:63px;
    overflow:hidden; position:relative; left:0; top:0;
    border-bottom: 1px solid #b5b5b5;
}

.mobile_icon{
  position:absolute; right:20px; 
  transition:0.4s ease;
}
.mobile_selected{ 
  transform:rotate(180deg); 
}

.mobile_mainmenu>li>a{
  padding-left: 20px;
}
.mobile_bottom{
   width:100%; height:100%; 
}
.mobile_pattern{
    height:50px; width:100%; 
    background-image: url(../images/mobile_bg.gif);
}
.mobile_b{
  width:100%; background-color: #575757;
  height:140px; position:relative; left:0; top:0;
}
.mobile_sns {
  width: 130px; position:absolute; right:20px; bottom:42px;
}
.mobile_sns a {
  margin: 0 9px;
}

.mobile_sns img {
  width: 21px; display:inline-block;
}

ul.mobilesubmenu_list{
  width:100%; position:absolute; left:0px; top:63px; 
}

ul.mobilesubmenu_list>li{
  width:100%; height:50px; background:#e9e9e9; 
  font-size:14px; color:#3c3c3c;
  border-bottom:solid 1px #b5b5b5;  
  text-indent:40px;  line-height:50px;
}
ul.mobilesubmenu_list>li:first-child{
  border-top:solid 1px #b5b5b5; 
}

div#mobile_graylayer{ 
  width:100%; height:100%; background:black; 
  opacity:0.8; position:fixed; left:0px; top:0px; 
}



/* 모바일영역 끝 */

/* 상단영역 끝*/


/* 하단영역 시작*/
#footer {
  background-color: #575757;
  clear: both;
}

.info {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 40px 0;
}

.flogo {
  margin-right: 156px;
}

.flogo img {
  width: 90px;
  display: block;
}

.addr {
  width: 1000px;
  font-style: normal;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
  font-weight: 100;
}

ul.blink {
  margin-bottom: 18px;
}

.blink li {
  display: inline-block;
}

.blink li a {
  color: #ffffff;
}

.blink>li:first-child::before {
  content: none;
}

.blink>li::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 14px;
  background-color: #fff;
  margin: 0 20px;
}

.addr_info {
  margin-bottom: 18px;
  color: #fff;
}

.addr .EN {
  color: #fff;
}

.info2 {
  margin-bottom: 18px;
}

.info2 li {
  display: inline-block;
  font-size: 1.4rem;
}

.info2>li:first-child::before {
  content: none;
}

.info2>li::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 14px;
  background-color: #fff;
  margin: 0 10px;
}


/* 하단영역 끝*/